h1 Login
form
	fieldset
		legend Credential
		p.error#error
		label Email
			input(type='text', name='email', autofocus)
		br
		label Password
			input(type='text', name='password')
		br
		input(type='submit', value='Login Now')
ul
	li
		a(href='#forgotpassword') Forgot Password
	li
		a(href='#register') Signup