h1 Register
form
	fieldset
		legend Your Name
		label First
			input(type='text', name='firstName')
		label Last
			input(type='text', name='lastName')
	fieldset
		legend Email Address
		label Email
			input(type='text', name='email')
		label Email (confirm)
			input(type='text', name='cemail')
	fieldset
		legend Password
		label Password
			input(type='text', name='password')
		label Password (confirm)
			input(type='text', name='cpassword')

	p
		input(type='submit', value='Register Now')