extends layout
block content
    div#accountapp.container
        div#header
            div#header-region
            div#utilitymenu-region                
        div#main-region
        div#dialog-region
        div#footer-region
