extends layout
block content
    div#accountapp.container
        div#header-region
        div#main-region
        div#dialog-region
        div#footer-region
block scripts
    script(src="./js/vendor.js")
    script(src="./js/bundle.js")